.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;
  flex-shrink: 0;
}

.container.column {
  flex-direction: column;
  align-items: stretch;
}

.container.row {
  flex-direction: column;
  align-items: stretch;
  padding-bottom: 4rem;
}

@media (min-width: 1024px) {
  .container.row {
    flex-direction: row;
    align-items: flex-start;
  }
}

.item {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
