.headerWrapper {
  position: relative;
  background-color: var(--color-background-level-4);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 9.5rem;
  background: linear-gradient(180deg, #FFFFFF 0%, var(--color-background-level-4) 100%);
  z-index: 0;
}

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 3.125rem;
  z-index: 1;
}

.titleContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.title {
  margin: 1rem 0 0 0;
}

.description {
  color: var(--color-text);
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  max-width: 48rem;
}

.summarySection {
  margin-top: 2rem;
}

.summaryTitle {
  padding: 0.5rem 0;
}
