.container {
  background-color: var(--color-background-level-1);
  border: 1px solid var(--color-separator);
  box-shadow: var(--box-shadow-default);
  border-radius: var(--border-radius-default);
  margin-bottom: 2rem;
  padding: 1rem 0 1.5rem 0;
}

.header {
  padding: 0 1.5rem 1rem 1.5rem;
}

.header h4 {
  color: var(--color-text);
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.header p {
  color: var(--color-text);
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0;
}

.chartDiv {
  width: 100%;
  height: 24rem;
  padding: 0 1.5rem 1rem 1.5rem;
}
