.mainContent {
  display: flex;
  padding: 2rem 3.125rem 0.5rem 3.125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  align-self: stretch;
}

.section {
    background-color: inherit;
}

.sectionIntro {
  margin-bottom: 2rem;
}

.sectionTitle {
  color: var(--color-text);
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0.75rem;
}

.sectionDescription {
  color: var(--color-text);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
}
